{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">

  <style>
    body {
      align-items: center;
      background-image: url("{% static 'image/background3.png' %}");
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .social-icons a {
      margin: 10px;
      text-decoration: none;
      color: #d4af37;
      font-size: 1.5rem;
    }
  </style>
</head>

<body>
  <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
      <a href="/home/page" class="w3-bar-item w3-button">HOME</a>
      <a href="/menu/page" class="w3-bar-item w3-button">MENU</a>
      <a href="/menu/about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="/authentification/login" class="w3-bar-item w3-button">LOGIN</a>
      <a href="/home/commander" class="w3-bar-item w3-button">COMMANDER</a>
      <a href="/home/historique/" class="w3-bar-item w3-button">HISTORIQUE</a>
    </div>
  </div>
</body>

</html>